.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 32px;
}

.button {
  min-width: 36px;
  padding: 6px 12px;
  font-size: 14px;
  background-color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.button:hover:not(:disabled) {
  background-color: #588157;
  color: #ffffff;
}

.active {
  background-color: #344e41;
  color: #ffffff;
  font-weight: bold;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  background-color: white;
  color: #aaa;
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  padding: 4px;
  background-color: #344e41;
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.arrow:hover:not(:disabled) {
  background-color: #588157;
}

.logoIcon {
  width: 32px;
  height: 32px;
  transform: scale(1.3);
  transform-origin: center;
}
.dots {
  font-weight: 700;
  font-size: 16px;
  color: #000000;
  cursor: default;
}

.dots:hover {
  background-color: transparent;
  color: #333;
  cursor: default;
}
