.navList {
  display: flex;
  align-items: center;
  gap: 38px;
  list-style: none;
  margin: 0;
  margin-bottom: 16px;
}

.navItem {
  position: relative;
}
.link {
  position: relative;
  color: #292424;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 4px;
  transition: color 0.3s ease;
}

.link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #0d0d0d;
  transition: width 0.3s ease;
  border-radius: 1px;
}

.link.active::after {
  width: 100%;
}

.link:hover {
  color: #588157;
}
@media screen and (min-width: 768px) {
  .link {
    font-size: 12px;
  }
}
