.container {
  position: relative;
  width: 100%;

  max-width: 600px;
  margin: 0 auto 30px;
  padding: 0 10px;
}

.searchBox {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  width: 100%;
}

.searchInput {
  flex: 1;
  padding: 12px 12px;
  font-size: 16px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  color: #333;
  margin-right: 12px;
}

.searchInput::placeholder {
  color: #aaa;
}

.searchButton {
  padding: 13px 66.5px;
  font-size: 16px;
  background-color: #9B6C43; 
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.searchButton:hover {
  background-color: #6D554B;
}






