.searchBox {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  max-width: 700px;
}

/* Mobile */
.searchInput {
  width: 100%;
  padding: 14px 20px;
  font-size: 16px;
  background-color: #fff;
  border: none;
  border-radius: 12px;
  outline: none;
  color: #111;
}

.searchInput::placeholder {
  color: #aaa;
}

.searchButton {
  width: 100%;
  padding: 14px 20px;
  font-size: 16px;
  font-weight: 500;
  background-color: #9b6c43;
  color: #fff;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  white-space: nowrap;
}

.searchButton:hover,
.searchButton:focus {
  background-color: #6d554b;
}

/* Tablet  */
@media screen and (min-width: 768px) {
  .searchBox {
    flex-direction: row;
    align-items: center;
    gap: 24px;
  }

  .searchInput {
    flex: 1;
    /* padding: 16px 24px; */
    font-size: 18px;
    border-radius: 16px;
  }

  .searchButton {
    width: 176px;
    padding: 16px 0;
    font-size: 18px;
    border-radius: 16px;
  }
}

/* Desktop */
@media screen and (min-width: 1440px) {
  .searchInput {
    padding: 18px 28px;
    font-size: 20px;
  }

  .searchButton {
    width: 190px;
    padding: 18px 0;
    font-size: 20px;
  }
  .searchBox {
    gap: 12px;
  }
}
