.searchBox {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  max-width: 700px;
}

.inputWrapper {
  position: relative;
  width: 100%;
}

.searchInput {
  width: 100%;
  padding: 12px 12px;
  font-size: 18px;
  font-weight: 400;
  background-color: #fff;
  border: none;
  border-radius: 12px;
  outline: none;
  color: #111;
  height: 46px;
}

.searchInput::placeholder {
  color: #9f9f9f;
}

.clearButton {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 32px;
  color: #9f9f9f;
  cursor: pointer;
  padding: 0;
  line-height: 1;
  z-index: 10;
  transition: color 0.2s ease;
}

.clearButton:hover {
  color: red;
}

.searchButton {
  width: 100%;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 600;
  background-color: #9b6c43;
  color: #fff;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  white-space: nowrap;
  height: 46px;
  outline: none;
}

.searchButton:hover,
.searchButton:focus {
  background-color: #6d554b;
}

.searchButton:active {
  background-color: #8a5c39;
}

@media screen and (min-width: 768px) {
  .searchBox {
    flex-direction: row;
    align-items: center;
    gap: 24px;
  }

  .inputWrapper {
    width: 471px;
  }

  .searchButton {
    width: 176px;
    padding: 13px 0;
    font-size: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .inputWrapper {
    width: 459px;
  }

  .searchButton {
    width: 190px;
    font-size: 16px;
  }
}

