.backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(17, 17, 17, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background-color: #fdfcdf;
  padding: 40px 32px;
  border-radius: 24px;
  position: relative;
  width: 427px;
  text-align: center;
}

.closeBtn {
  position: absolute;
  top: 14px;
  right: 14px;
  background: none;
  border: none;
  cursor: pointer;
}

.closeIcon {
  width: 20px;
  height: 20px;
  stroke: #000;
}

.title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 8px;
}

.text {
  font-size: 16px;
  color: #000;
  margin-bottom: 32px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 14px;
  flex-wrap: wrap;
}

.logoutBtn {
  background-color: #d80000;
  color: #fff;
  padding: 12px 24px;
  border: none;
  border-radius: 12px;
  font-weight: 500;
  cursor: pointer;
}

.cancelBtn {
  background-color: #fff;
  color: #000;
  padding: 12px 24px;
  border: 1px solid #000;
  border-radius: 12px;
  font-weight: 500;
  cursor: pointer;
}
