/* Mobile First: 393px+ */
.hero {
  background-color: #3d2218;
  background-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.9) 100%
    ),
    url("../../images/Hero/Banner.webp");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding: 128px 0 98px;
}

@media (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        to left,
        rgba(0, 0, 0, 0.3) 0%,
        rgba(0, 0, 0, 0.9) 100%
      ),
      url("../../images/Hero/Banner@2x.webp");
  }
}

/* Контейнер */
.heroContainer {
  max-width: 393px;
  margin: 0 auto;
  padding: 0 32px;
}

/* Внутрішній контент */
.content {
  display: flex;
  gap: 24px;
  flex-direction: column;
  align-items: flex-start;
}

/* Заголовок */
.title {
  color: #fff;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.2;
  text-align: left;
}

/* Tablet 768px+ */
@media screen and (min-width: 768px) {
  .hero {
    padding: 128px 0;
  }

  .heroContainer {
    padding: 0 65px 0 32px;
  }
  .heroContainer {
    max-width: 768px;
  }
}

/* Desktop 1280px+ */
@media screen and (min-width: 1440px) {
  .heroContainer {
    min-width: 1440px;
    padding-left: 108px;
  }
}
