.hero {
  padding-top: 74px;
  padding-bottom: 98px;
  background-color: #3d2218;
  background-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.9) 100%
    ),
    url("../../images/Hero/Banner.webp");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  margin-top: 68px;
}

@media (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        to left,
        rgba(0, 0, 0, 0.3) 0%,
        rgba(0, 0, 0, 0.9) 100%
      ),
      url("../../images/Hero/Banner@2x.webp");
  }
}

.heroContainer {
  max-width: 393px;
  margin: 0 auto;
  padding: 0 32px;
}

.content {
  display: flex;
  gap: 24px;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  color: #fff;
  font-size: 48px;
  font-weight: 600;
  line-height: 1.2;
  text-align: left;
}

/* Tablet 768px+ */
@media screen and (min-width: 768px) {
  .hero {
    padding: 128px 0 98px;
    padding-top: 74px;
    background-position: top center, center -40px;
  }

  .heroContainer {
    max-width: 768px;
    padding: 0 65px 0 32px;
  }
}

/* Desktop 1440px+ */
@media screen and (min-width: 1440px) {
  .hero {
    background-position: top center, center -120px;
  }

  .heroContainer {
    min-width: 1440px;
    padding-left: 108px;
  }
}
