.pageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fdfdf7;
}

.card {
  background-color: #faf3e0;
  border-radius: 32px;
  padding: 48px 32px;
  width: 522px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.title {
  font-weight: 600;
  font-size: 32px;
  text-align: center;
  color: #2e2e2e;
  margin-bottom: 15px;
}

.subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  text-align: center;
  color: #2e2e2e;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.label {
  text-align: left;
  font-weight: 400;
  font-size: 12px;
  color: #333;
  margin-top: 12px;
}

.input {
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  font-size: 14px;
  width: 100%;
  padding: 12px 10px;

  background-color: #fff;
}

.input::placeholder {
  color: #9f9f9f;
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
}

.input:hover {
  border: 1px solid #9b6c43;
}

.input:focus {
  border: 1px solid #9b6c43;
}

.visuallyHiddenCheckbox {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.checkboxWrapper {
  display: flex;
  align-items: baseline;
  gap: 8px;
  font-size: 13px;
  text-align: left;
}

.customCheckbox {
  width: 16px;
  height: 16px;
  border: 1.5px solid #595d62;
  border-radius: 4px;
  display: inline-block;
  position: relative;
  margin-right: 8px;
  flex-shrink: 0;
}

.customCheckbox:hover {
  border-color: #9b6c43;
}

.visuallyHiddenCheckbox:checked + .customCheckbox::after {
  content: "";
  position: absolute;
  left: 4px;
  top: 0px;
  width: 5px;
  height: 10px;
  border: solid #2e2e2e;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.customCheckboxLabel {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
  color: #2e2e2e;
  cursor: pointer;
  margin-top: 12px;
}

.customCheckboxLabel:hover {
  color: #9b6c43;
}

.error {
  color: #d32f2f;
  font-size: 12px;
  text-align: left;
}

.button {
  background-color: #9b6c43;
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;

  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 19px;
  margin-top: 28px;
}

.button:hover {
  background-color: #563c29;
}

.button:focus {
  background-color: #563c29;
}

.registerText {
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  text-align: center;
  color: #444;
}

.registerLink {
  font-weight: 600;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.registerLink:hover {
  color: #9b6c43;
}

.registerLink:focus {
  color: #9b6c43;
}

.passwordFieldWrapper {
  position: relative;
}

.inputWithIcon {
  position: relative;
  display: flex;
  align-items: center;
}

.iconButton {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .card {
    width: 362px;
  }
}
