.logo {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  gap: 8px;
  color: #fff;
}

.logoIcon {
  height: 30px;
  fill: currentColor;
}

.logoText {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}
