.container {
  margin: 0 auto;
  max-width: 361px;
  padding: 48px 16px;
  background-color: #fbfcf8;
}
.headerSection {
  display: flex;
  flex-direction: column-reverse;
}

.title {
  font-size: 40px;
  color: #2c3e50;
  margin-bottom: 32px;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 32px;
}
.contentWrapper {
  display: flex;
  gap: 24px;
  flex-direction: column-reverse;
}

.info {
  display: flex;
  flex-direction: column;
  background: #faf3e0;
  gap: 15px;
  padding: 16px;
  border-radius: 16px;
  margin-bottom: 20px;
  line-height: 1.55;
}

.infoTitle {
  font-weight: 600;
  font-size: 24px;
}
.section:not(:last-child) {
  margin-bottom: 40px;
}

.section h2 {
  font-size: 32px;
  margin-bottom: 8px;
}
.section h2:has(+ ol) {
  margin-bottom: 24px;
}
.section p {
  font-size: 16px;
  line-height: 1.55;
}
.ingredients {
  list-style-position: inside;
  padding-left: 1em;
  text-indent: -1em;
}

.ingredients li {
  list-style: disc;
  padding-left: 0.8em;
}

li::marker {
  font-size: x-small;
}

.ingredients li:not(:last-child) {
  margin-bottom: 16px;
}

.steps li:not(:last-child) {
  margin-bottom: 16px;
}

.favoriteButton {
  align-items: center;
  display: flex;
  gap: 16px;
  flex-direction: row-reverse;
  justify-content: center;
  width: 100%;
  padding: 10px;
  background: #9b6c43;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  transition: background 0.3s;
}

.favoriteButton:hover,
.favoriteButton:focus {
  background: #6d554b;
}

.favoriteButton:active {
  background: #9b6c43;
  border: 2px solid white;
}
.icon {
  --icon-stroke: white;
  --icon-fill: none;
  color: inherit;
}

.iconActive {
  --icon-stroke: #fff;
  --icon-fill: #fff;
}

.favoriteButton .icon {
  transition: all 0.3s ease;
}

.favoriteButton.active .icon {
  --icon-stroke: #fff;
  --icon-fill: #fff;
}

@media screen and (min-width: 768px) {
  .container {
    min-width: 768px;
    padding: 48px 32px;
  }
  .headerSection {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .image {
    height: 624px;
    object-fit: cover;
    object-position: left center;
  }

  .title {
    font-size: 48px;
    margin-bottom: 32px;
  }
  .infoBox {
    display: flex;
    gap: 24px;
    flex-direction: row;
  }
  .info {
    margin-bottom: 0;
    padding: 24px;
    min-width: 431px;
  }
  .favoriteButton {
    max-height: 56px;
  }
  .ingredients li:not(:last-child) {
    margin-bottom: 20px;
  }
  .steps li:not(:last-child) {
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 48px 107px;
  }
  .image {
    width: auto;
    height: 624px;
    border-radius: 8px;
    margin-bottom: 32px;
  }

  .contentWrapper {
    display: flex;
    gap: 24px;
    flex-direction: row;
  }

  .infoBox {
    display: flex;
    gap: 0;
    flex-direction: column;
  }

  .info {
    margin-bottom: 20px;
    min-width: 302px;
  }
}
