/* .recipeListContainer {
  padding: 0px 16px;
} */
/* .RecipesList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
  gap: 24px;
  margin: 0 auto;
} */

/* .Recipes {
  font-weight: 600;
  font-size: 32px;
  color: #000;
  margin-bottom: 8px;
} */

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1280px) {
  .recipeListContainer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 16px;
  }

  .FormRecipes {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 16px;
    user-select: none;
  }
  .Recipes {
    font-weight: 600;
    font-size: 40px;
    color: #000;
  }

  .recipeslist {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 24px;
  }
  .BtnLoadWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 24px;
  }
  .BtnLoad {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 16px;
    border-radius: 8px;
    cursor: pointer;
  }
}
