/* Loading.module.css */
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}
.comment-wrapper {
  display: flex !important;
  justify-content: center;
  align-items: center;
}
