/*.favorite {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
  border: 1px solid #000;
  border-radius: 8px;
  padding: 8px;


.favorite:hover {
  background: #9b6c43;
  color: #fff;
}

.favoriteActive {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
  border-radius: 8px;
  padding: 8px;
  color: red;
}

.favoriteActive:hover {
  background: #c80000;
  color: #fff;
}

.icon {
  display: inline-block;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}}*/

.favoriteButton {
  align-items: center;
  display: flex;
  gap: 16px;
  flex-direction: row-reverse;
  justify-content: center;
  width: 100%;
  padding: 10px;
  background: #344e41;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  transition: background 0.3s;
}
.smallFavoriteButton {
  border: 1px solid black;
  width: 40px;
  height: 40px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  transition: background 0.3s;
}
.favoriteButton:hover,
.smallFavoriteButton:hover {
  background: #588157;
  border: none;
}

.favoriteButton:active {
  background: #344e41;
  border: 2px solid white;
}
.smallFavoriteButton.active {
  background: #344e41;
  border: none;
  color: white;
}
.icon {
  --icon-stroke: currentColor;
  --icon-fill: none;
  color: inherit;
  /*transition: all 0.3s ease;*/
}

.iconFilledWhite {
  --icon-fill: #fff;
}

.favoriteButton .icon {
  color: white;
}
.smallFavoriteButton .icon {
  color: black;
}

.favoriteButton.active .icon,
.smallFavoriteButton.active .icon {
  color: white;
}
.smallFavoriteButton:hover .icon {
  color: white;
}
.smallFavoriteButton.active:hover {
  background-color: #6d554b;
  border: none;
}

.smallFavoriteButton.active:hover .icon {
  color: white; /* щоб іконка залишалась видимою */
}
@media screen and (min-width: 768px) {
  .favoriteButton {
    max-height: 56px;
  }
}
