.favoriteButton {
  align-items: center;
  display: flex;
  gap: 16px;
  flex-direction: row-reverse;
  justify-content: center;
  width: 100%;
  padding: 10px;
  background: #9b6c43;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  transition: background 0.3s;
}
.smallFavoriteButton {
  border: 1px solid black;
  width: 40px;
  height: 40px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  transition: background 0.3s;
}
.favoriteButton:hover,
.favoriteButton:focus,
.smallFavoriteButton:hover,
.smallFavoriteButton:focus {
  background: #6d554b;
}

.favoriteButton:active {
  background: #9b6c43;
  border: 2px solid white;
}
.icon {
  --icon-stroke: white;
  --icon-fill: none;
  color: inherit;
}

.iconActive {
  --icon-stroke: #fff;
  --icon-fill: #fff;
}

.favoriteButton .icon {
  transition: all 0.3s ease;
}

.favoriteButton.active .icon {
  --icon-stroke: #fff;
  --icon-fill: #fff;
}
@media screen and (min-width: 768px) {
  .favoriteButton {
    max-height: 56px;
  }
}