/* Box-sizing reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin and padding */
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
  color: #222;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--main-text-color);
  background-color: var(--background-color);

  width: 100%;
  height: 100vh;
}

/* Set default font size and line-height */
body {
  font-size: 16px;
  line-height: 1.5;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

/* Remove list styles */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Reset anchor styles */
a {
  color: inherit;
  text-decoration: none;
}

/* Reset buttons and inputs */
button,
input,
select,
textarea {
  font: inherit;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

/* Cursor for buttons */
button {
  cursor: pointer;
}

/* Images responsive by default */
img {
  max-width: 100%;
  height: auto;
  display: block;
}
.no-scroll {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
